.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99; }

.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: white;
  z-index: 99;
  margin-left: auto;
  margin-right: auto; }

.responsive-menu {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.expand {
  display: block !important; }

.mobile-nav {
  background-color: #004B8D;
  color: white;
  font-family: 'Spectral', serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px; }

.responsive-menu li {
  text-decoration: none;
  list-style: none;
  margin-left: -25px;
  margin-top: 10px; }

.responsive-menu {
  color: #ecf0f1; }

.responsive-menu a:link {
  color: #ecf0f1; }

.responsive-menu a:visited {
  color: #ecf0f1; }

.responsive-menu a {
  text-decoration: none; }

.responsive-menu a:hover {
  color: #719db8; }

.flexbox-container {
  display: block; }

* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

#body-container {
  height: 100%;
  background-color: #004B8D; }

.background-secondary {
  width: 100%;
  height: 100%;
  background-color: #6da288;
  color: #ecf0f1;
  text-align: center;
  font-family: 'Spectral', serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 25px; }

.vimeo {
  width: 100%; }

iframe .vimeo {
  margin-left: auto;
  margin-right: auto; }

div .navbar {
  display: none; }

.mobile-photo {
  padding-top: 25px;
  padding-bottom: 25px; }

div .footer {
  width: 100%; }

.footer {
  color: #ecf0f1;
  background-color: #004B8D;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  border-radius: 0%; }

.footer ul {
  text-decoration: none;
  list-style: none;
  display: inline-block; }

.footer li {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  text-align: right;
  vertical-align: middle;
  padding: 2px 15px 2px 15px; }

.icon-social i {
  font-family: "Ionicons";
  font-size: 1.5em; }

.footer a {
  text-decoration: none; }

.footer a:hover {
  color: #6da288; }

.footer a:link {
  color: #ecf0f1; }

.footer a:visited {
  color: #ecf0f1; }

.footer-text-mobile p {
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 2rem;
  text-align: center; }

.footer-text {
  display: none; }

.background {
  display: none; }

@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none; }

  div .navbar {
    display: block;
    width: 100%; }

  .navbar h1 {
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1px; }

  .navbar {
    color: #ecf0f1;
    background-color: #004B8D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    border-radius: 0%; }

  .navbar ul {
    text-decoration: none;
    list-style: none;
    display: inline-block; }

  .navbar li {
    display: inline-block;
    text-decoration: none;
    font-family: 'Spectral', serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: right;
    vertical-align: middle;
    padding: 2px 15px 2px 15px; }

  .navbar-pic img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 15px; }

  .navbar a {
    text-decoration: none; }

  .menu-item a:hover {
    color: #6da288; }

  .navbar a:link {
    color: #ecf0f1; }

  .navbar a:visited {
    color: #ecf0f1; }

  .background {
    display: block;
    width: 100%; }

  .mobile-photo {
    display: none; }

  div .footer {
    width: 100%; }

  .footer {
    color: #ecf0f1;
    background-color: #004B8D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    border-radius: 0%; }

  .footer ul {
    text-decoration: none;
    list-style: none;
    display: inline-block; }

  .footer li {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    text-align: right;
    vertical-align: middle;
    padding: 2px 15px 2px 15px; }

  .icon-social i {
    font-family: "Ionicons";
    font-size: 2em; }

  .footer a {
    text-decoration: none;
    color: #ecf0f1; }

  .footer a:hover {
    color: #6da288; }

  .footer i:hover {
    color: #6da288; }

  .footer a:visited {
    color: #ecf0f1; }

  .footer-text {
    display: block; }

  .footer-text p {
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center; }

  .footer-text-mobile {
    display: none; }

  .flexbox-container {
    display: flex; }

  .thumbnail {
    width: 600px;
    margin-left: 8%;
    margin-right: 5%; } }

/*# sourceMappingURL=styles.css.map */
