@import "partials/dropdown-menu.scss";

*{ box-sizing: border-box }
img {
 width: 100%;
 display: block;
}
#app-container {

}


div .navbar {
  width: 100%;
}
.navbar h1 {
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.navbar {
  color: #ecf0f1;
  background-color: #004B8D;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  border-radius: 0%;
}

.navbar ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.navbar li {
  display: inline-block;
  text-decoration: none;
  // font-family: 'Slabo 27px', serif;
  font-family: 'Spectral', serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2rem;
  // padding: 10px;
  text-align: right;
  vertical-align: middle;
  padding: 2px 15px 2px 15px;
}

.navbar-pic img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 15px;
}
.navbar a {
  text-decoration: none;
}
.menu-item a:hover {
  color: black;
}

.navbar a:link {
  color: #ecf0f1;
}

.navbar a:visited {
  color: #ecf0f1;
}

//footer//
div .footer {
  width: 100%;
}
.footer {
  color: #ecf0f1;
  background-color: #004B8D;
  // background-color:  #22313F;//
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  border-radius: 0%;
}
.footer ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  // width: 100%;
}
.footer li {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  // padding: 10px;
  text-align: right;
  vertical-align: middle;
  padding: 2px 15px 2px 15px;
}
.icon-social i {
  font-family: "Ionicons";
  font-size: 2em;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: black;
}

.footer a:link {
  color: #ecf0f1;
}

.footer a:visited {
  color: #ecf0f1;
}
.footer-text p{
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2rem;
  text-align: center;
}

.background-secondary-page {
  background: url("../images/india-with-kids3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
