.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: white;
	z-index: 99;
  margin-left: auto;
  margin-right: auto;
}

.responsive-menu{
	display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.expand {
	display: block !important;
}

.mobile-nav {
  background-color: #004B8D;
  color: white;
  font-family: 'Spectral', serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.responsive-menu li{
  text-decoration: none;
  list-style: none;
  margin-left: -25px;
  margin-top: 10px;
}
.responsive-menu {
  color: #ecf0f1;
}
.responsive-menu a:link {
  color: #ecf0f1;
}
.responsive-menu a:visited {
  color: #ecf0f1;
}
.responsive-menu a {
  text-decoration: none;
}
.responsive-menu a:hover {
	color: rgb(113, 157,184);
}
